# THIS CAN RUN ON cloud-vm-45-72 ONLY

compile:
  stage: build
  artifacts:
    name: "Compiled stuff"

    paths:
      - wacc-compiler
      - .scala-build
  script:
    - scala-cli --power compile .

test:
  stage: test
  needs: [compile]
  artifacts:
    when: always
    paths:
      - testres.xml
    reports:
      junit:  testres.xml
  script:
    - bash ./test