# THIS CAN RUN ON cloud-vm-45-72 ONLY

compile:
  stage: build
  artifacts:
    name: "Compiled stuff"
    paths:
      - wacc-compiler
      - .scala-build
  script:
    - make

test:
  stage: test
  needs:
    - job: compile
      artifacts: true
  artifacts:
    when: always
    paths:
      - testres.xml
    reports:
      junit:  
        - validRes.xml
        - syntaxRes.xml
        - semanticRes.xml
  script:
    - bash ./test